:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --primary-clr: teal;
  --bdrs: 10px;
  --font-size: 22px;
}

body {
  position: relative;
  display: flex;
  justify-content: center;
  height: 100vh;
  user-select: none;
  box-sizing: border-box;
  overflow: hidden;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

button {
  border: none;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.taskList {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

/* HEADER */
.add-header {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 150px;
  height: 50px;
}

.input {
  display: flex;
  width: 400px;
  padding: 0 10px;
  height: 100%;
  font-size: var(--font-size);
  border-width: 0 0 2px 0;
  border-style: solid;
  border-color: var(--primary-clr);
  outline: none;
  background: transparent;
}

.add-button {
  height: 100%;
  padding: 0 20px;
  font-size: var(--font-size);
  border-radius: var(--bdrs);
  font-weight: 600;
}

.add-button:hover {
  opacity: 0.7;
}

.list {
  padding: 0;
  list-style-type: none;
  transition: all 0.5s linear;
}

.task {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: var(--font-size);
  padding: 10px 20px;
  background: teal;
  transition: all 0.5s linear;
  border-top-left-radius: var(--bdrs);
  border-bottom-left-radius: var(--bdrs);
}

.task-buttons-con {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-left: auto;
}

.task-buttons-con button {
  background: transparent;

  padding: 0;
}

.edit-button {
  padding: 5px 10px;
  font-size: 16px;
}

.delete-button {
  font-size: 20px;
}
